#btn-style, .info-container .info p, .info-container .error-msg p, .clock-container .time-stamp p, .clock-container .show-info p, .note-app .note-display #note-time, .note-app .note-display #note-text, .note-app .note-display #remove-btn, .note-app .note-display #imp-btn, .note-app .note-taker #note-input, .note-app .note-taker #note-btn, .ask-container #ask-input, .ask-container #answer, .btn-link a {
  font-family: "VT323", "Courier New", "Arial", Sans-serif;
  color: #EAD13B; }

.info-container, .clock-container, .note-app {
  border: 1px dashed rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.3); }

#version {
  font-family: "VT323", "Courier New", "Arial", Sans-serif;
  color: white;
  font-size: small; }

#btn-style {
  padding: 5px;
  border: dashed 1px #EAD13B;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 1s; }
  #btn-style:hover {
    border: solid 1px #EAD13B;
    transition-duration: 1s; }

.info-container {
  font-family: "VT323", "Courier New", "Arial", Sans-serif; }
  .info-container .info p {
    padding: 10px 15px;
    font-size: large; }
  .info-container .error-msg {
    padding: 15px; }
    .info-container .error-msg p {
      margin-top: 15px;
      font-size: large; }

.clock-container .time-stamp {
  display: flex;
  justify-content: center;
  align-items: center; }
  .clock-container .time-stamp p {
    padding: 10px;
    font-size: x-large; }
.clock-container .show-info {
  display: flex;
  justify-content: center; }
  .clock-container .show-info p {
    padding: 10px;
    font-size: x-large; }

.note-app .note-display {
  padding: 10px; }
  .note-app .note-display #note-time {
    font-size: small;
    margin-right: 5px;
    opacity: 0.8; }
  .note-app .note-display #note-text {
    font-size: large;
    margin: 0px 5px; }
  .note-app .note-display #note-text-imp {
    font-family: "VT323", "Courier New", "Arial", Sans-serif;
    color: black;
    font-weight: 700;
    font-size: large;
    margin: 0px 5px; }
  .note-app .note-display #remove-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0px 5px; }
  .note-app .note-display #imp-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0px 5px; }
.note-app .note-taker {
  padding: 10px; }
  .note-app .note-taker #note-input {
    border: none;
    background-color: rgba(0, 0, 0, 0); }
  .note-app .note-taker #note-btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0px 5px; }

.ask-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%; }
  .ask-container #ask-input {
    font-size: x-large;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 1s;
    text-align: center;
    border-bottom: 1px dashed #EAD13B;
    border-top: none;
    border-left: none;
    border-right: none; }
    .ask-container #ask-input:focus, .ask-container #ask-input:hover {
      border-bottom: 1px solid #EAD13B;
      transition-duration: 1s; }
  .ask-container #answer {
    text-align: center;
    font-size: x-large; }

.btn-link {
  display: flex;
  justify-content: center; }
  .btn-link a {
    margin: 5px;
    padding: 7px 15px;
    border: dashed 1px #EAD13B;
    text-decoration: none;
    transition-duration: 1s; }
    .btn-link a:hover {
      border: solid 1px #EAD13B;
      transition-duration: 1s; }

/*# sourceMappingURL=element.css.map */
