$font-family: "VT323", "Courier New", "Arial", Sans-serif;
$base-color: #2F2F2F;
$trdu: 1s;

%font-basic {
  font-family: $font-family;
  color: $base-color;
}

%box {
  border: 1px dashed rgba(255,255,255,0.1);
  background: rgba(255,255,255,0.3);
}

#version, #onscreenstatus {
  font-family: $font-family;
  color: white;
  font-size: small;
}

#btn-style {
  padding: 5px;
  border: dashed 1px $base-color;
  text-decoration: none;
  @extend %font-basic;
  background-color: rgba(0,0,0,0);
  transition-duration: $trdu;
  &:hover {
    border: solid 1px $base-color;
    transition-duration: $trdu;
  }
}

.info-container {
  @extend %box;
  font-family: $font-family;
  .info {
    p {
      padding: 10px 15px;
      font-size: large;
      @extend %font-basic;
    }
  }
  .error-msg {
    padding: 15px;
    p {
      margin-top: 15px;
      font-size: large;
      @extend %font-basic;
    }
  }
}

.clock-container {
  @extend %box;
  .time-stamp {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      padding: 10px;
      font-size: x-large;
      @extend %font-basic;
    }
  }
  .show-info {
    display: flex;
    justify-content: center;
    p {
      @extend %font-basic;
      padding: 10px;
      font-size: x-large;
    }
  }
}

.message-container {
  .show-info {
    display: flex;
    justify-content: center;
    p {
      @extend %font-basic;
      padding: 10px;
      font-size: x-large;
    }
  }
}

.note-app {
  @extend %box;
  .note-display {
    padding: 10px;
    #note-time {
      @extend %font-basic;
      font-size: small;
      margin-right: 5px;
      opacity: 0.8;
    }
    #note-text {
      @extend %font-basic;
      font-size: large;
      margin: 0px 5px;
    }
    #note-text-imp {
      font-family: $font-family;
      color:  #AF2B2F;
      font-weight: 700;
      font-size: large;
      margin: 0px 5px;
    }
    #remove-btn {
      @extend %font-basic;
      background-color: rgba(0,0,0,0);
      border: none;
      margin: 0px 5px;
    }
    #imp-btn {
      @extend %font-basic;
      background-color: rgba(0,0,0,0);
      border: none;
      margin: 0px 5px;
    }
  }
  .note-taker {
    padding: 10px;
    #note-input {
      @extend %font-basic;
      border: none;
      background-color: rgba(0,0,0,0);
    }
    #note-btn {
      @extend %font-basic;
      border: none;
      background-color: rgba(0,0,0,0);
      margin: 0px 5px;
    }
  }
}

.ask-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  #ask-input {
    font-size: x-large;
    width: 100%;
    background-color: rgba(0,0,0,0);
    transition-duration: $trdu;
    @extend %font-basic;
    text-align: center;
    border: {
      bottom: 1px dashed $base-color;
      top: none;
      left: none;
      right: none;
    }
    &:focus, &:hover {
      border-bottom: 1px solid $base-color;
      transition-duration: $trdu;
    }
  }
  #answer {
    @extend %font-basic;
    text-align: center;
    font-size: x-large;
  }
}

.btn-link {
  display: flex;
  justify-content: center;
  a {
    margin: 5px;
    padding: 10px 20px;
    border: dashed 1px $base-color;
    text-decoration: none;
    @extend %font-basic;
    transition-duration: $trdu;
    &:hover {
      border: solid 1px $base-color;
      transition-duration: $trdu;
    }
  }
}
